---
name: PR Checks
run-name: >
  Verify build and test - '${{ github.event.pull_request.title }}',
  from ${{ github.ref }} by @${{ github.actor }}

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
      - develop

  workflow_dispatch:

env:
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 10.0.x
  DEBUG: true

jobs:
  debug:
    name: Debug Info
    runs-on: ubuntu-latest
    if: env.DEBUG == 'true'
    steps:
      - name: Print GitHub object
        if: env.DEBUG == 'true'
        run: |
          echo "${{ toJSON(github) }}" > debug.txt
      - name: Upload debug info
        if: env.DEBUG == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: debug-info
          path: debug.txt


  # Determining next release version from current release version
  determine-next-release-version:
    name: Determine next Release version
    uses: ./.github/workflows/determine-next-release-version.yaml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  # CI: build and verify tests
  build-and-verify:
    name: Build source code and verify tests
    needs: determine-next-release-version
    uses: ./.github/workflows/dotnet-build-and-verify.yaml
    with:
      configuration: Release  # ${{ env.CONFIGURATION }}
      dotnet-versions: 10.0.x  # ${{ env.DOTNET_CORE_VERSION }}
      version: ${{ needs.determine-next-release-version.outputs.version }}
      source-directory: ./src
      artifact-name: Packages
