---
name: PR Checks
run-name: >
  Verify build and test - '${{ github.event.pull_request.title }}',
  from ${{ github.ref }} by @${{ github.actor }}

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
      - develop

  workflow_dispatch:

jobs:
  # Determining next release version from current release version
  determine-next-release-version:
    name: Determine next Release version
    uses: ./.github/workflows/determine-next-release-version.yaml
    permissions:
      contents: read  # Required for checking out the code
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  version-pr-comment:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    needs: determine-next-release-version
    steps:
      - uses: mshick/add-pr-comment@v2
        with:
          message: >
            Merging this PR will increase the release version from
            **${{ needs.determine-next-release-version.outputs.current_version }}**
            to **${{ needs.determine-next-release-version.outputs.version }}**.

  # CI: build and verify tests
  build-and-verify:
    name: Build source code and verify tests
    needs: determine-next-release-version
    uses: ./.github/workflows/dotnet-build-and-verify.yaml
    permissions:
      contents: read  # Required for checking out the code
    with:
      configuration: >-
        ${{ vars.CONFIGURATION != '' && vars.CONFIGURATION || 'Release' }}
      dotnet-versions: >-
        ${{ vars.DOTNET_CORE_VERSION != '' && vars.DOTNET_CORE_VERSION || '10.0.x' }}
      version: ${{ needs.determine-next-release-version.outputs.version }}
      source-directory: ./src
      artifact-name: Module
      module-guid: ${{ vars.PS_MODULE_GUID }}
